<!DOCTYPE html>
<html>

<head>
    <link href="./css/main.css" rel="stylesheet" type="text/css">
    <script src="js/app.js"></script>
<!--
    <script type="text/template" id="detail-template">
        <img src="<%= detail-img-url %>" id="detail-pic">
        <h3>Name: </h3> <h2> <%= name %> </h2>
        <div id="events-wrapper">
            <div id="event-0>
                <p> <%= events[0].name %> </p>
                <p> <%= events[0].descr %> </p>
                <p> <%= events[0].num %> </p>
            </div>
            <div id="event-1>
                <p> <%= events[1].name %> </p>
                <p> <%= events[1].descr %> </p>
                <p> <%= events[1].num %> </p>
            </div>
            <div id="event-2>
                <p> <%= events[2].name %> </p>
                <p> <%= events[2].descr %> </p>
                <p> <%= events[2].num %> </p>
            </div>
            <div id="event-3>
                <p> <%= events[3].name %> </p>
                <p> <%= events[3].descr %> </p>
                <p> <%= events[3].num %> </p>
            </div>
            <div id="event-4>
                <p> <%= events[4].name %> </p>
                <p> <%= events[4].descr %> </p>
                <p> <%= events[4].num %> </p>
            </div>
        </div>
    </script>
-->
<!--
    <script type="text/template" id="list-template">
        
            <img src="<%= image %>"
            <h2> <%= heroName %> </h2>
 
    </script>
-->
</head>

<body>
    <header>
        <h1>Marvel-book</h1>
    </header>

    <div id="search">
        <input type="text" id="search-bar" placeholder="Enter Marvel character's name here...">
        <button id="search-button">Search</button>
    </div>
    
    <div id="content">
        <div id="detailed-view" class="view"></div>
        <div id="list-view" class="view"></div>
    </div>
</body>

</html>
