<!DOCTYPE html>
<html>

<head>
    <link href="./css/main.css" rel="stylesheet" type="text/css">
    <script src="js/app.js"></script>
</head>

<body ng-app="MarvelSuperHeroApp">
    <header class="columns">
        <h1>Marvel-book</h1>
    </header>

    <div id="search" class="columns">
        <input type="text" id="search-bar" placeholder="Enter Marvel character's name here...">
        <button id="search-button">Search</button>
    </div>

    <div id="content" ng-controller="MainController" class="columns">
        <div id="detailed-view" class="view">
        <img src="{{current.url}}" >
            <h1> Name: {{current.name}} </h1>
            <h2> Events: </h2>
            <ul>
                <li>
                    <h3>{{current.event0}}</h3>
<!--                    <p>{{current.nu01}}</p>-->
                    <p>{{current.info0}} </p>
                </li>
                <li>
                    <h3>{{current.event1}}</h3>
<!--                     <p>{{current.num1}}</p>-->
                    <p>{{current.info1}} </p>
                </li>
                <li>
                    <h3>{{current.event2}}</h3>
<!--                     <p>{{current.num2}}</p>-->
                    <p>{{current.info2}} </p>
                </li>
                <li>
                    <h3>{{current.event3}}</h3>
<!--                     <p>{{current.num3}}</p>-->
                    <p>{{current.info3}} </p>
                </li>
                <li>
                    <h3>{{current.event4}}</h3>
<!--                     <p>{{current.num4}}</p>-->
                    <p>{{current.info4}} </p>
                </li>
            </ul>
        </div>

        <div id="list-view" class="view">
            <ul>
                <li ng-click="getDetails(hero)" ng-repeat=" hero in heroes">
                    <img src="{{hero.thumbnail.path}}/standard_medium.{{hero.thumbnail.extension}}" alt="Image thumbnail">
                    <h2> {{hero.name}} </h2>
                </li>
            </ul>
        </div>
    </div>
</body>

</html>
